@model CourceProject.ViewModel.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link type="text/css" rel="stylesheet" href="~/css/all-fanfics.css" />
    <link type="text/css" rel="stylesheet" href="~/css/add-fanfic.css" />
</head>

<div class="row justify-content-md-center" style="margin-top:100px;">

    <div class="fanfic-block col-md-auto">
        <h2>@Localizer["Login"]</h2>
        <form method="post" style="width:500px">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h5 class="input-text">@Localizer["Email"]</h5>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h5 class="input-text">@Localizer["Password"]</h5>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="material-icons chapter-add button-hover add-fanfic">login</button>
        </form>
    </div>
</div>