/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "charter";
    src: url("../../Fonts/charter/ttf/Charter Regular.ttf") format("ttf")
}
@font-face {
    font-family: "charter-bold";
    src: url("../../Fonts/charter/ttf/Charter Bold.ttf") format("ttf")
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #e2ae6c;
    margin: 40px 0;
}
.body-container{
    min-height:100vh;
}
.container {
    background-color: rgba(110, 48, 75, .5);
}
.header-container {
    background-color: #997CA3;
}
.search-form {
    display: flex;
    margin: 20px 0 0px 0;
    width:606px;
}
.search-button {
    background-color: #f2f1ef;
    border: none;
    height: 40px;
    padding: 4px;
    width: 6%;
}
.loope{
    margin-top:4px;
}
.search-input {
    background-color: #f2f1ef;
    border: none;
    outline: none;
    height: 40px;
    padding: 4px 8px;
    width:86%;
    margin-left:4%
    
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 20px !important;
}
.navbar {
    background-color: #997CA3;
}
/* Provide sufficient contrast against white background */
a {
    color: #6e304b;
}
    a:hover {
        color: #22161c !important;
    }
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
a.nav-link {
    font-family: "Roboto";
    font-size:16px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-image: url(back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
